body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: grey;
  text-align: center;
}
.contact-form {
  width: 100%;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px 0px 5px 0px;
    text-align: center;
}


.contact-form input, .contact-form textarea {
    width: 50%;
    padding: 10px;
    margin: 10px  0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;


}